*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0%;
    padding: 0%;

}

header {
    background-color: #1d3333;
    border-color: #1d3333;
    color: azure;
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    
}

h1{
    margin: 30px;
}

nav{
    right: 50px;
    margin: 25px;
    
}

a:any-link{
    text-decoration: none;
    color: azure;
}

nav ul{
display: inline-flex;
list-style: none;
font-size: 20px;
color:azure;
    
}

nav ul li{
    
    margin:10px;
    justify-content: space-between;
}

#About-Me{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    border-color: #1d3333;
    border:10px;
    font-size: large;
    
}

.container{
    justify-content: space-between;
    align-content: right;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
     height: max-content;
    
}

.project-card {
    border: 3px;
    line-height: 1;
    padding: 2rem 1rem;
    width: 20rem;
    text-align: center;
    margin: 10px;
}

#first-project-card {
    flex-basis: 30rem;
   
}

#second-project-card .third-project-card .fourth-project-card {
    flex-shrink: 10rem;
}

figure img{
   max-block-size: 400px;
}

footer {
    margin-top: 20px;
    padding: 30px;;
    background-color: #1d3333;
    color:azure;
    font-size: 30px;
}

footer ul{
    text-align: right;
}

footer ul li{
    display: inline;
    margin:10px;
    text-align: right;
}

@media screen and (min-width: 768px) {
    
    .project-card {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    #first-project-card {
      flex-grow: 1;
    }
  }
  
  @media screen and (min-width: 992px) {
    
    .project-card {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
}